<template>
  <div ref="root" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Create new note</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="noteName" class="control-label">Note name</label>
            <input placeholder="Note name" type="text" class="form-control" id="noteName" value.bind="name">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" data-dismiss="modal" click.trigger="ok()" class="btn btn-primary">Create</button>
        </div>
      </div>
    </div>
  </div>
</template>
