<template>
  <require from='create-note'></require>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <i class="fa fa-home"></i>
        <span>${router.title}</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notebook <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="${connectionState == 2 ? '' : 'disabled'}"><a href="#" click.trigger="showCreateNote()"><i class="fa fa-plus"></i> Create new note</a></li>
            <li role="separator" class="divider"></li>
            <div id="notebook-list" class="scrollbar-container">
              <li repeat.for="noteInfo of noteInfos">
                <a route-href="route: notebook; params.bind: {id: noteInfo.id}">${noteInfo.name || 'Note ' + noteInfo.id} </a>
              </li>
            </div>
          </ul>
        </li>
        <li repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}">
          <a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1.in" href.bind="row.href">${row.title}</a>
        </li>
        <p if.bind="connectionState == 0" class="navbar-text"><span class="label label-danger">Disconnected</span></p>
        <p if.bind="connectionState == 1" class="navbar-text"><span class="label label-warning">Disconnected</span></p>
        <p if.bind="connectionState == 2" class="navbar-text"><span class="label label-success">Connected</span></p>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="loader" if.bind="router.isNavigating">
          <i class="fa fa-spinner fa-spin fa-2x"></i>
        </li>
      </ul>
    </div>
  </nav>
  <create-note view-model.ref="createNote"></create-note>
</template>
