<template>
  <require from="paragraph"></require>
  <div class="container">
    ${id}
    <div>
      <button click.trigger="insertParagraph(0)" type="button" class="btn btn-default btn-xs btn-block"><i class="fa fa-plus"></i></button>
    </div>
    <div repeat.for="paragraph of note.paragraphs">
      <paragraph note-id.bind="note.id" index.bind="$index" first.bind="$first" last.bind="$last" paragraph.bind="paragraph"></paragraph>
      <button click.trigger="insertParagraph($index + 1)" type="button" class="btn btn-default btn-xs btn-block"><i class="fa fa-plus"></i></button>
    </div>
  </div>
</template>
