<template>
  <div class="paragraph well" style="background:white; margin-top:5px; margin-bottom:5px">
    <div class="btn-toolbar" role="toolbar" aria-label="...">
      <div class="btn-group btn-group-xs" role="group" aria-label="...">
        <button disabled="${!paragraph.text && !paragraph.editorText || paragraph.text == paragraph.editorText ? 'disabled' : ''}" click.trigger="save()" type="button" class="btn btn-xs btn-default"><i class="fa fa-save"></i></button>
        <button disabled="${first ? 'disabled' : ''}" click.trigger="paragraphUp()" type="button" class="btn btn-xs btn-default"><i class="fa fa-arrow-up"></i></button>
        <button disabled="${last ? 'disabled' : ''}" click.trigger="paragraphDown()" type="button" class="btn btn-xs btn-default"><i class="fa fa-arrow-down"></i></button>
        <button click.trigger="removeParagraph()" type="button" class="btn btn-xs btn-default"><i class="fa fa-remove"></i></button>
      </div>
    </div>
    <div ref="editor" class="editor" style="height:100px"></div>
  </div>
</template>
