/* bootstrap customization for scrollable dropdown menu */
/* based on similar snippets of zeppelin */
.dropdown-menu > .scrollbar-container > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu > .scrollbar-container > li > a:hover,
.dropdown-menu > .scrollbar-container > li > a:focus {
  color: #262626;
  text-decoration: none;
  background: #f5f5f5;
}

.dropdown-menu > .scrollbar-container > .active > a,
.dropdown-menu > .scrollbar-container > .active > a:hover,
.dropdown-menu > .scrollbar-container > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background: #428bca;
  outline: 0;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #D3D3D3;
  }

  .navbar-nav .open .dropdown-menu > .scrollbar-container > li > a {
    padding: 5px 15px 5px 25px;
    line-height: 20px;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > .scrollbar-container > li > a {
    color: #D3D3D3;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > .scrollbar-container > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .scrollbar-container > li > a:focus {
    color: #fff;
    background: transparent;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > .scrollbar-container > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .scrollbar-container > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .scrollbar-container > .active > a:focus {
    color: #fff;
    background: #080808;
  }

  .server-status {
    float: right;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background: #3071A9;
  }

  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #3071A9;
  }
}
