/*
  Ace Text Editor CSS
*/

.paragraph .editor {
  width: 100%;
//  border-left: 4px solid #DDDDDD;
  background: rgba(255, 255, 255, 0.0);
  margin: 7px 0 2px 0;
}

.paragraph-text--dirty {
  border-left: 4px solid #E67E22 !important;
}

.paragraph .ace_print-margin {
  background: none !important;
}

.ace_marker-layer .ace_selection {
    z-index: 0 !important;
}

.ace_marker-layer .ace_selected-word {
    z-index: 0 !important;
}

.ace-tm {
  background: #FFFFFF;
  color: black;
}

.ace_editor {
  position: relative;
  overflow: hidden;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 12px;
  line-height: normal;
  direction: ltr;
}

.ace_hidden-cursors {
  opacity: 0;
}

//.ace_text-input, .ace_gutter, .ace_layer,
//.emacs-mode, .ace_text-layer, .ace_cursor-layer,
//.ace_cursor, .ace_scrollbar {
//  z-index: auto !important;
//}

.ace_text-input.ace_composition {
 opacity: 0 !important;
}

#main .emacs-mode .ace_cursor {
  background: #C0C0C0!important;
  border: none !important;
}
